* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("tgp.jpg");
  /* display: flex; */
}
@media (max-width: 767px) {
  .tgp-quote{
    width: 65%;
    height:3vh;
  }
  .quote {
    font-size:18px;
  }
}
@media (max-width: 1047px){
  .tgp-quote{
    width: 85%;
    height: 5vh;
  }
  .quote {
    font-size:22px;
  }
}
h1 {
  margin: 2%;
  width: 45%;
  font-size: 48px;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.click-here-btn {
  background: url("./fork.png");
  background-size: 100%;
  margin: 25px;
  padding: 13px 80px;
  outline: none;
  border: none;
  /* background-color: transparent; */
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: white;
  /* border-radius: 4px; */
}
.clear-btn {
  display:block;
  margin: 25px;
  padding: 12px 18px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
}
.quote {
  margin-bottom: 5%;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  line-height: 30pt;
}

.tgp-quote {
  margin-left: 3vh;
  margin-bottom: 5vh;
  height: 15%;
  width: 60%;
}
div {
  display: block;
  height: 50%;
}
